.navbar {
  background-color: #E3A703;
}
  body {
background-color: #FFF8E6;

}
.navbar-nav .nav-link:hover {
color: #ffffff;
background-color: #F1C40F;
}
.carousel-item img {
max-width: 50%;
margin: 0 auto; /* Centrado horizontal */
}

.nav-link{
   font-size: 30px;
}